{% extends "base.html.twig" %}

{% block title 'Se connecter' %}

{% block body %}

    <div class="container mt-4 mb-4 w-25">

    {% if error %}
        <div class="alert alert-danger">
        {{ error.messageKey | trans(error.messagedata, 'security') }}
        </div>
    {% endif %}

    <div class="m-auto text-center">
        <img class="mb-4" src="/images/cropped-icone.png" alt="" width="72" height="72">
    </div>

    <div class="text-center title-form mb-2">
        <h3>Connexion</h3>
    </div>

    <hr class="mb-3" />

    <form action="{{ path('login') }}" method="post" class="form-signin">
            <label for="username" class="sr-only">Nom d'utilisateur</label>
            <input type="text" id="username" name="_username" class="form-control" value="{{ last_username }}" placeholder="Nom d'utilisateur" />
            <label for="password" class="sr-only">Mot de passe</label>
            <input type="password" id="password" name="_password" class="form-control" placeholder="Mot de passe" />
        <div class="checkbox mb-3 text-center mt-4">
            <label>
            <input type="checkbox" id="remember" name="_remember" value="yes"> Rester connecté
            </label>
        </div>
        <div class="text-center mb-3">
            <button type="submit" class="button-submit">Se connecter</button> 
        </div>
        <div class="text-center mt-4">
            <a href="{{ path('password_recover') }}" class="">Mot de passe oublié</a>
        </div>
    </form>

    </div>
{% endblock %}