{% extends "base.html.twig" %}

{% block body %}

    <div class="container mt-4 mb-4">
        <p class="title-cont w-50 text-center m-auto mb-2">Crée un bouton</p>
        <hr class="w-50 m-auto" />
        {{ include('admin/website/_form7.html.twig', {button: 'Créer'}) }}
    </div>

{% endblock %}