{% extends "base.html.twig" %}

{% block title 'AgenceWeb - Le Mans' %}

{% block body %}
	<div class="container">
		<h2>Les derniers biens</h2>
		<hr />
		<div class="row flex">
			{% for property in properties %}
				<div class="col-4 mb-4">
					{% include 'property/_property.html.twig' %}
				</div>
			{% endfor %}
		</div>
		<hr />
	</div>

	<div class="container">
		<h2>Les dernières locations</h2>
		<hr />
		<div class="row flex">
			{% for rents in rent %}
				<div class="col-4">
					{% include 'rent/_rent.html.twig' %}
				</div>
			{% endfor %}
		</div>
		<hr />
	</div>
{% endblock %}
