{% extends "base.html.twig" %}

{% block title globals.title %}

{% block body %}

	<div class="container mt-4 mb-4 w-50">

        {% for message in app.flashes('success') %}
            <div class="alert alert-success text-center">
                <i class="fa fa-check text-success" aria-hidden="true"></i> {{ message }}
            </div>
        {% endfor %}

        {% for message in app.flashes('error') %}
            <div class="alert alert-danger text-center">
                <i class="fas fa-times text-danger" aria-hidden="true"></i> {{ message }}
            </div>
        {% endfor %}

	</div>	

	{{ include('component/team.html.twig') }}

	<div class="container">
		<h2 class="text-center">Derniers biens</h2>
		<hr/>
		<div class="row flex">
			{% for property in properties %}
				<div class="col-4 mb-4">
					{% include 'property/_property.html.twig' %}
				</div>
			{% endfor %}
		</div>
		<hr class="mt-0"/>
	</div>

	<div class="container">
		<h2 class="text-center">Dernières locations</h2>
		<hr/>
		<div class="row flex">
			{% for rents in rent %}
				<div class="col-4 mb-4">
					{% include 'rent/_rent.html.twig' %}
				</div>
			{% endfor %}
		</div>
		<hr/>
	</div>

	<div class="container">
		<h2 class="text-center">Derniers appartements en vente</h2>
		<hr/>
		<div class="row flex">
			{% for appartementA in appartementAs %}
				<div class="col-4 mb-4">
					{% include 'appartementA/_appartementA.html.twig' %}
				</div>
			{% endfor %}
		</div>
		<hr/>
	</div>

	{{ include('component/contact.html.twig') }}

{% endblock %}
