{% extends "base.html.twig" %}

{% block body %}

    <div class="container mt-4">
        <h2>editer le bien</h2>
        {{ form_start(form) }}
            {{ form_widget(form) }}
        {{ form_end(form) }}
    </div>

{% endblock %}