<nav class="navbar navbar-expand-lg navbar-light bg-light w-100 m-auto mb-4" style="opacity: 0.8;box-shadow: 0 0 5px #b3abab;">
  <div class="container-fluid justify-content-center pt-2 pb-2">

    <a href="#equipes" class="btn btn-info btn-rounded mr-2">Notre équipes</a>
    <a href="#biens" class="btn btn-info btn-rounded mr-2">Derniers biens</a>
    <a href="#louer" class="btn btn-info btn-rounded mr-2">Dernières locations</a>
    <a href="#appartAchats" class="btn btn-info btn-rounded mr-2">Derniers appartements en vente</a>
    <a href="#appartLocations" class="btn btn-info btn-rounded">Derniers appartements en location</a>
    
  </div>
</nav>