{% extends "base.html.twig" %}

{% block body %}

    <div class="container mt-4 mb-4 w-25">
        <p class="title-cont">Crée une nouvelle option</p>
        <hr/>
        {{ include('admin/option/_form.html.twig', {button: 'Créer'}) }}
    </div>

{% endblock %}