{% extends 'base.html.twig' %}

{% block title %}Page non trouvée{% endblock %}

{% block body %}
  <!--Main layout-->
  <main class="mt-4">
    <div class="container">

      <!--Section: Content-->
      <section class="px-md-5 mx-md-5 text-center dark-grey-text mb-4">

        <img src="/images/404.png" alt="Erreur 404" class="img-fluid mb-4">

        <h3 class="font-weight-bold">Oops! Ce n'est évidemment pas une page que vous recherchiez.</h3>

        <p>S'il vous plaît, dites-nous comment vous êtes arrivé ici et utilisez l'un des liens suivants pour revenir en arrière.</p>

        <a class="btn btn-info btn-sm btn-rounded" href="{{ path('property.index') }}" role="button">Les
          biens</a>
        <a class="btn btn-info btn-sm btn-rounded" href="{{ path('rent.index') }}""
          role="button">Les locations</a>
        <a class="btn btn-info btn-sm btn-rounded" href="contact" role="button">Contactez-nous</a>


      </section>
      <!--Section: Content-->

    </div>
  </main>
  <!--Main layout-->
{% endblock %}